<div class="row">
    <div class="panel panel-green">
        <div class="panel-heading clearfix">
            Khách Hàng
        </div>
        <div class="panel-body">
            <!-- <input type="text" #input (change)="testchange($event)"> -->
            <form (ngSubmit)="onSubmit()" [formGroup]="orderForm">
                <input type="hidden" formControlName="_id">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="panel panel-orange">
                            <div class="panel-body pan">
                                <div class="form-body pal" formGroupName="user">
                                    <input type="hidden" formControlName="_id">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="input-icon right">
                                                <input ng2-auto-complete [source]="users" [list-formatter]="autocompleListFormatter" #user (valueChanged)="valueUserChanged($event)" placeholder="Tên Khách Hàng" class="form-control" formControlName="name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon right">
                                                <input [readonly]="true" type="text" placeholder="Mã Khách Hàng" class="form-control" formControlName="code">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="input-icon right">
                                                <input [readonly]="true" type="text" placeholder="Địa Chỉ" class="form-control" formControlName="adress">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon right">
                                                <input [readonly]="true" type="text" placeholder="Số Điện Thoại" class="form-control" formControlName="phone">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="panel panel-orange">
                            <div class="panel-heading clearfix">
                                Sản Phẩm
                            </div>
                            <div class="panel-body pan">
                                <div class="form-body pal no-padding">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 no-padding list-product">
                                        <table class="table table-hover table-bordered no-margin">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Đơn giá</th>
                                                    <th>Giá nhập</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let product of products" (click)="addItem(product)">
                                                    <td>{{product.code}}</td>
                                                    <td>{{product.name}}</td>
                                                    <td>{{product.price}}</td>
                                                    <td>{{product.input_price}}</td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <div class="list-product">
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Tên sản phẩm</th>
                                                        <th>Số lượng</th>
                                                        <th>Đơn giá</th>
                                                        <th>Giảm %</th>
                                                        <th>Giảm tiền</th>
                                                        <th>Ghi chú</th>
                                                        <th>Thành Tiền</th>
                                                        <th>Nợ Vỏ</th>                                                        
                                                        <th>Chức năng</th>
                                                    </tr>
                                                </thead>
                                                <tbody formGroupName="items" colspan="5">
                                                    <tr *ngFor="let item of items.controls; let i=index" [formGroupName]="i">
                                                        <input type="hidden" formControlName="_id">
                                                        <td>
                                                            <div formGroupName="product">
                                                                <input type="hidden" formControlName="_id">
                                                                <input ng2-auto-complete [source]="products" [list-formatter]="autocompleListFormatter" (valueChanged)="valueProductChanged($event,i)" display-property-name="name" placeholder="Tên Sản Phẩm" class="form-control" formControlName="name">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input type="number" placeholder="Số Lượng" class="form-control input-xsmall" formControlName="qty">
                                                        </td>
                                                        <td>
                                                            <input type="text" placeholder="Đơn Giá" class="form-control" formControlName="price">
                                                        </td>
                                                        <td>
                                                            <input type="text" placeholder="Giảm % " class="form-control" formControlName="discout_percent">
                                                        </td>
                                                        <td>
                                                            <input type="text" placeholder="Giảm tiền" class="form-control" formControlName="discout_fixed">
                                                        </td>
                                                        <td>
                                                            <input type="text" placeholder="Ghi Chú" class="form-control" formControlName="note">
                                                        </td>
                                                        <td>
                                                            <input type="text" placeholder="Thành Tiền" class="form-control" formControlName="total">
                                                        </td>
                                                        <td>
                                                                <div class="checkbox"><label><input formControlName="status" tabindex="5" type="checkbox"/></label></div>
                                                        </td>
                                                        <td>
                                                            <button type="button" (click)="removeItem(i)" class="btn btn-danger"><i class="fa fa-times"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 float-right">
                                                <div class="form-group">
                                                        <label for="inputUsername" class="control-label">Nợ<span class="require">*</span></label>
                                                        <div class="checkbox"><label><input formControlName="status" tabindex="5" type="checkbox"/></label></div>
                                                </div>
                                            </div>
                                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 float-right">
                                            <div class="form-group">
                                                    <label for="inputUsername" class="control-label">Tổng Tiền <span class="require">*</span></label>
                                                <div class="input-icon right">
                                                    <input type="text" placeholder="Tổng giá trị" class="form-control" formControlName="grand_total">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 float-right">
                                            <div class="form-group">
                                                    <label for="inputUsername" class="control-label">Tiền Đã Trả <span class="require">*</span></label>
                                                <div class="input-icon right">
                                                    <input type="text" placeholder="Số tiền đã trả" class="form-control" formControlName="subtotal">
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                            <div class="panel-footer">
                                <button (click)="addItem()" type="button" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                                <button type="submit" class="btn btn-primary float-right">Lưu</button>
                                <button type="reset" class="btn btn-default float-right">Làm Mới</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Tên Khách Hàng</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Tổng Tiền</th>
                                    <th>Ngày Tạo</th>
                                    <th></th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="orders">
                                <tr *ngFor="let order of orders;let i=index" (click)="editOrder(order)">
                                    <td>{{order.user.name}}</td>
                                    <td>{{order.user.phone}}</td>
                                    <td>{{order.grand_total}}</td>
                                    <td>{{order.create_at}}</td>
                                    <td></td>
                                    <!-- <td>{{getStatusText(1)}}</td> -->
                                    <td><button type="button" class="btn btn-danger" (click)="delete(order._id,i)">Xóa</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>